@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-gray-800;
  }

  h1 {
    @apply text-2xl font-bold text-gray-800;
  }

  h2 {
    @apply text-xl font-semibold text-gray-800;
  }

  h3 {
    @apply text-lg font-semibold text-gray-800;
  }

  p {
    @apply text-gray-800;
  }

  label {
    @apply text-gray-700;
  }

  input, select, textarea {
    @apply text-gray-800;
  }

  a {
    @apply text-blue-600 hover:text-blue-800;
  }

  th {
    @apply text-gray-700;
  }

  td {
    @apply text-gray-800;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
